@model webapp.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Performing Artist</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.name)
        </dd>

        <dt>
            <label>Building</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.name)
        </dd>

        <dt>
            <label>Event Type</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Type.name)
        </dd>

        <dt>
            <label>Event Title</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            <label>Date</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            <label>Description</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_event }) |
    @Html.ActionLink("Back to List", "Index")
</p>
